.block-container{
    padding-top:1.2rem;
    padding-bottom:2rem;
    max-width:1450px;

}
h1{
    font-weight:700;
}

div[data-testid="stMetric"]{
    border-radius:18px;
    padding:18px;
    background:#ffffff08;
}
