.block-container{
    max-width:1450px;
    padding-top:1rem;
    padding-bottom:3rem;
}
header{
    visibility:hidden;
}
footer{
    visibility:hidden;
}
#MainMenu{
    visibility:hidden;
}
.stMetric{
    border-radius:20px;
}
[data-testid="stMetric"]{
    border-radius:20px;
    border:1px solid rgba(255,255,255,.08);
    padding:18px;
    background:rgba(255,255,255,.03);
}
h1{
    font-weight:700;
}
h2{
    font-weight:700;
}
hr{
    margin-top:5px;
    margin-bottom:15px;
}

.card{
padding:20px;
border-radius:20px;
background:rgba(255,255,255,.03);
border:1px solid rgba(255,255,255,.08);
transition:.3s;
}

.card:hover{
transform:translateY(-3px);
}

.title{
font-size:13px;
color:#94A3B8;
}

.value{
font-size:36px;
font-weight:700;
margin-top:10px;
margin-bottom:10px;
}
